<footer style="margin-top:2.5em;"> 
    
    <!-- our clients Slider -->
  <!--  <div class="our-clients">
      <div class="container">
        <div class="col-md-12">
          <div class="slider-items-products">
            <div id="our-clients-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col6"> 
                <div class="item"> <a><img src="assets/images/brand1.png" alt="Image"></a> </div>
                <div class="item"> <a><img src="assets/images/brand2.png" alt="Image"></a> </div>
                <div class="item"> <a><img src="assets/images/brand3.png" alt="Image"></a> </div>
                <div class="item"> <a><img src="assets/images/brand4.png" alt="Image"></a> </div>
                <div class="item"> <a><img src="assets/images/brand5.png" alt="Image"></a> </div>
                <div class="item"> <a><img src="assets/images/brand6.png" alt="Image"></a> </div>
                <div class="item"> <a><img src="assets/images/brand7.png" alt="Image"></a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container" style="margin-top:2.5em !important;">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Compra con confianza<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
            <div class="tabBlock" id="TabBlock-1">
              <ul class="list-links list-unstyled">
                <li><a>¿Como comprar en Pachamama store?</a></li>
                <li><a>Cambios y devoluciones</a></li>
                <li><a>T&eacute;rminos y condiciones</a></li>
                <li><a>FAQs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Sobre Nosotros<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
            <div class="tabBlock" id="TabBlock-3">
              <ul class="list-links list-unstyled">
                <li> <a>¿Quienes somos?</a> </li>
                <li> <a>Nuestro local</a> </li>
                <li> <a>Noticias</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 col-lg-2 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Hola cliente!<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
            <div class="tabBlock" id="TabBlock-4">
              <ul class="list-links list-unstyled">
                <li><a  routerLink='/iniciar-sesion'>Mi cuenta</a></li>
                <li><a routerLink='/carrito-de-compras'>Carritos de compra</a></li>
                <li><a>Promociones</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
          <h3 class="links-title">Contacto</h3>
          <p>Por favor cont&aacute;ctenos a los siguientes medios:</p>
          <div class="footer-content">
            <div class="email"> <i class="fa fa-envelope"></i>
              <p>contacto@lapachamamasac.com</p>
            </div>
            <div class="phone"> <i class="fa fa-phone"></i>
              <p>(+51) 981 156 077 / (+57) 315 4846903</p>
            </div>
            <div class="address"> <i class="fa fa-map-marker"></i>
              <p> Av. Circunvalación Nro.1942 Dpto. Piso 3 Int.A San Luis - Lima</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3">
          <div class="footer-links">
            <div class="footer-newsletter">
              <h3 class="links-title">Suscr&iacute;bete</h3>
              <form id="newsletter-validate-detail" (submit)="enviarSuscripcion()">
                <div class="newsletter-inner">
                  <input class="newsletter-email" [(ngModel)]="correo" name="correo" placeholder='Ingresa tu correo'/>
                  <button class="button subscribe" type="submit" title="Subscribe">Suscribir</button>
                </div>
              </form>
            </div>
            <div class="social">
              <ul class="inline-mode">
                <li class="social-network fb"><a title="Ir a Facebook" target="_blank" href="https://www.facebook.com/pachamamasac/"><i class="fa fa-facebook"></i></a></li>
                <li class="social-network instagram"><a title="Ir a Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                <li class="social-network googleplus"><a title="Ir a Youtube" target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube-play"></i></a></li>
                <li class="social-network tw"><a title="Ir a Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li class="social-network linkedin"><a title="Ir a Linkedin" target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2018 <a> La Pachamama SAC </a>. Todos los derechos reservados. </div>
          <div class="col-sm-6 col-xs-12">
            <div class="payment">
              <ul>
                <li><a href="http://www.ctflatfeemlslisting.com"><img alt="flat fee mls" title="flat fee mls" src="http://www.free-credit-card-logos.com/credit_card_logos_visa_mc_amex_discover_paypal_sm.gif" width="254" height="30" border="0" /></a>
                </li>
               <!-- <li><a><img title="Visa" alt="Visa" src="assets/images/visa.png"></a></li>
                <li><a><img title="Master Card" alt="Master Card" src="assets/images/master-card.png"></a></li>
                <li><a><img title="Paypal" alt="Paypal" src="assets/images/paypal.png"></a></li>
                <li><a><img title="Discover" alt="Discover" src="assets/images/discover.png"></a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a class="totop"><i class="fa fa-arrow-up"></i></a> 


