<section class="main-container col2-right-layout">
      <div class="main container">
        <div class="row">
          <div class="col-main col-sm-9 col-xs-12">

                <div class="box-border">
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7" style="margin-top:14%;">

                                <h3>Usuario no autenticado</h3>
                                <h5>Para ingresar a esta vista, debe <a style="color:#23603c" routerLink="/iniciar-sesion">iniciar sesión</a></h5> 
                        </div>
    
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>

     