<div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a routerLink='/nosotros'><img src="assets/images/hemp1.png" alt="" ></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;">La Pachamama </div>
                <div class="desc-text"> Sobre nosotros y nuestra visión para el mundo</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a routerLink='/franquicia'><img src="assets/images/franquicia.jpg" alt="" ></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;">La Pachamama </div>
                <div class="desc-text"> Una Franquicia que marca la diferencia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a routerLink='/trabaja-con-nosotros'><img src="assets/images/trabaja.jpg" alt="" ></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;">Trabaja</div>
                <div class="desc-text"> Con nosotros</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a routerLink='/club-pachamama'><img src="assets/images/club.jpg" alt=""></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;"> Club </div>
                <div class="desc-text"> La Pachamama</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a href="javascript:void(0)"><img src="assets/images/asesoria.jpg" alt="" ></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;">Legal Weed</div>
                <div class="desc-text">Asesoria</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a href="javascript:void(0)"><img src="assets/images/negocios.jpg" alt=""></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;">Negocios</div>
                <div class="desc-text">Multinivel</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a href="javascript:void(0)"><img src="assets/images/coffee.jpg" alt="" ></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;">Coffee</div>
                <div class="desc-text"> Weed</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner"><a href="javascript:void(0)"><img src="assets/images/taxi.jpg" alt=""></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title" style="font-size:35px;"> Taxi </div>
                <div class="desc-text"> Verde</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
