<section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12">

              <div class="box-border">
                  <div class="row">
                      <div class="col-sm-5">
                      </div>
                      <div class="col-sm-7" style="margin-top:14%;">

                              <h3>Esta página no existe</h3>
                              <h5>Compruebe que la dirección web que ha escrito no contiene errores de escritura.</h5> 
                      </div>
  
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
