.ngx-pagination {

    background: rgba(0,0,0,0) none repeat scroll 0 0 !important;
    border-top: 1px solid #eee !important;
    margin: 30px 0 0 !important;
    padding-top: 20px !important;
    text-align: center !important;
    display: inline-block !important;
    width: 100% !important;

}

.form-check-label:hover{
color: #23603c !important;
}
input[type="range"] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
      outline: none;
  }
  input[type="range"],
  input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
      background: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 200px;
    height: 7px;
    background: #23603c;
    border-radius: 14px;
  }
  
  input[type="range"]:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    position: relative !important;
    height: 18px;
    width: 18px;
    margin-top: -7px;
    background: #fff;
    border: 1px #666 solid;
    background: #333;
    border-radius: 100%;
    z-index: 1;
  }
  
  
  input[type="range"]:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }
  
  .rangeslider{
      position: relative !important;
      height: 60px;
      width: 210px;
      display: inline-block !important;
      margin-top: -20px;
      margin-left: 20px;
  }
  .rangeslider input{
      position: absolute !important;
  }
  .rangeslider{
      position: absolute !important;
  }
  
  .rangeslider span{
      position: absolute !important;
      margin-top: 30px;
      left: 0;
  }
  
  .rangeslider .right{
     position: relative !important;
     float: right !important;
     margin-right: -5px;
  }


