<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Servicios" routerLink='/servicios'>Servicios</a><span>&raquo;</span></li>
            <li><strong>Club Pachamama</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  
  <div class="main container">
 
     <div class="about-page">
       <!--UNO -->
       <div class="col-sm-12">
        <div class="col-xs-12 col-sm-6"> 
          
          <h1 style="margin-top:10%;">Club Verano <span class="text_color">Asia</span></h1>

          <p align="justify" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate facilisis nibh, sit amet venenatis magna sagittis eu. Fusce ullamcorper aliquet congue. Pellentesque iaculis leo ac lorem dictum posuere. Suspendisse id lectus non nisl rhoncus pulvinar. Nam at augue nec sem lobortis malesuada. Mauris a aliquam metus. Suspendisse fringilla leo et pharetra convallis. Maecenas ultricies erat id eros sodales, non vulputate magna ultrices.</p>
          
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="single-img-add sidebar-add-slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
              
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active"> <img src="assets/images/asia.png" alt="slide1"> </div>

              </div>
            </div>
          </div>
        </div>
        </div>
        <!--- -->
        <div class="col-sm-12">
        <div class="col-sm-6">
          <div class="single-img-add sidebar-add-slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
              
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active"> <img src="assets/images/invierno.jpeg" alt="slide1"> </div>
              </div>
            </div>
          </div>
        </div>

        

        <div class="col-sm-6"> 
          
          <h1 style="margin-top:17%;">Club Invierno<br><span class="text_color">Chaclacayo/Chosica</span></h1>
          <p align ="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate facilisis nibh, sit amet venenatis magna sagittis eu. Fusce ullamcorper aliquet congue. Pellentesque iaculis leo ac lorem dictum posuere. Suspendisse id lectus non nisl rhoncus pulvinar. Nam at augue nec sem lobortis malesuada. Mauris a aliquam metus. Suspendisse fringilla leo et pharetra convallis. Maecenas ultricies erat id eros sodales, non vulputate magna ultrices.</p>

        </div>
        </div>



        <div  class="col-sm-12">
            <div class="col-sm-6"> 
                
                <h1 style="margin-top:17%;">Club Urbano<br><span class="text_color">Lima Cercado</span></h1>
                <p align ="justify" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate facilisis nibh, sit amet venenatis magna sagittis eu. Fusce ullamcorper aliquet congue. Pellentesque iaculis leo ac lorem dictum posuere. Suspendisse id lectus non nisl rhoncus pulvinar. Nam at augue nec sem lobortis malesuada. Mauris a aliquam metus. Suspendisse fringilla leo et pharetra convallis. Maecenas ultricies erat id eros sodales, non vulputate magna ultrices.</p>
      
              </div>
        <div class=" col-sm-6">
          <div class="single-img-add sidebar-add-slider">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
              
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active"> <img src="assets/images/urbano.png" alt="slide1" > </div>
              </div>
            </div>
          </div>
        </div>

        
      </div>

      <div class="col-sm-12">
          <div class="col-sm-6">
            <div class="single-img-add sidebar-add-slider">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active"> <img src="assets/images/baño.png" alt="slide1"> </div>
                </div>
              </div>
            </div>
          </div>
  
          
  
          <div class="col-sm-6"> 
            
            <h1 style="margin-top:17%;">Baños Turcos <span class="text_color">La Molina</span></h1>
            <p align ="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate facilisis nibh, sit amet venenatis magna sagittis eu. Fusce ullamcorper aliquet congue. Pellentesque iaculis leo ac lorem dictum posuere. Suspendisse id lectus non nisl rhoncus pulvinar. Nam at augue nec sem lobortis malesuada. Mauris a aliquam metus. Suspendisse fringilla leo et pharetra convallis. Maecenas ultricies erat id eros sodales, non vulputate magna ultrices.</p>
  
          </div>
          </div>

        

        
        
     
       
      </div>

  </div>
  